@import "catppuccin.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 15px;
  min-height: 0;
  margin-bottom: 0px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 10px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  padding: 0.75rem;
}

#workspaces button:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#workspaces button:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#workspaces button.active {
  color: @sky;
  border: 1px solid @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#network,
#temperature,
#custom-spotify,
#mode,
#custom-VPN,
#custom-bandwidth,
#custom-lock,
#custom-kde-connect,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery:not(.warning).charging {
  color: @green;
}

#battery.warning.charging {
  color: @orange;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature.critical {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#custom-VPN.down,
#network.disconnected {
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
